<button class="btn btn-success" value="View Sale" (click)="redirectToAddSale()">Add Sale</button>
<table>
  <tr>
    <th>User Name</th>
    <th>Email </th>
    <th>Mobile No.</th>
    <th>Address</th>
    <th>Profession </th>
    <th>Source Name</th>
    <th>Service Name </th>
    <th>Business Name</th>
    <th>Age Name </th>
    <th>Type Name</th>
    <th>Make Name </th>
    <th>Edit </th>
  </tr>
  <tr *ngFor="let userDetailsData of userDetailsDatas;let i = index">
    <td>{{userDetailsData.firstname}}</td>
    <td>{{userDetailsData.email_id}}</td>
    <td>{{userDetailsData.mobile}}</td>
    <td>{{userDetailsData.address}}</td>
    <td>{{userDetailsData.profession}}</td>
    <td>{{userDetailsData.source_name}}</td>
    <td>{{userDetailsData.service_name}}</td>
    <td>{{userDetailsData.business_name}}</td>
    <td>{{userDetailsData.age_name}}</td>
    <td>{{userDetailsData.type_name}}</td>
    <td>{{userDetailsData.make_name}}</td>
    <td (click)="editUser(userDetailsData,i)"> <i class="fa fa-edit" style="color:orange"></i></td>
  </tr>
</table>

<!-- <div *ngIf="isHideOrShowUserVechileService">
  this is test
  <div class="modal fade" id="userModel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div> -->