<div class="list-sale">
  <div style="padding-right: 30px;
  padding-left: 30px;">
    <div class="row">
      <div class="col-sm-1">
        <button class="btn btn-success" value="View Sale" (click)="redirectToAddSale()">Add Sale</button>
      </div>
    </div>
    <br>
    <div class="row">
      <table>
        <tr>
          <th>customer Name</th>
          <th>Email </th>
          <th>Mobile No.</th>
          <th>Address</th>
          <th>Service Name </th>
          <th>Business Name</th>
          <th>Vehicle Type </th>
          <th>Vehicle Make </th>
          <th>Vehicle Category</th>
          <th>Payment Type</th>
          <th>Invoice No.</th>
          <th>Invoice Amount</th>
          <th>Edit </th>
          <th>Print</th>
        </tr>
        <tr *ngFor="let userDetailsData of userDetailsDatas;let i = index">
          <td>{{userDetailsData.firstname}}</td>
          <td>{{userDetailsData.email_id}}</td>
          <td>{{userDetailsData.mobile}}</td>
          <td>{{userDetailsData.address}}</td>
          <td>{{userDetailsData.service_name}}</td>
          <td>{{userDetailsData.business_name}}</td>
          <td>{{userDetailsData.type_name}}</td>
          <td>{{userDetailsData.make_name}}</td>
          <td>{{userDetailsData.vehicl_name}}</td>
          <td *ngIf="userDetailsData.cash == '1'">Cash</td>
          <td *ngIf="userDetailsData.cheque == '1'">Cheque</td>
          <td *ngIf="userDetailsData.credit_card == '1'">Credit/debit Card</td>
          <td *ngIf="userDetailsData.account_transfer == '1'">Account transfer</td>
          <td *ngIf="userDetailsData.other == '1'">Mobile </td>
          <td *ngIf="userDetailsData.credit_sale == '1'">Credit Sale </td>
          <td>{{userDetailsData.invoice_num}}</td>
          <td>{{userDetailsData.invoice_total}}</td>
          <td (click)="editUser(userDetailsData,i)"> <i class="fa fa-edit" style="color:orange"></i></td>
          <td (mouseenter)="mouseEnterOnPrint(userDetailsData,i) " (click)="printInvoice('printlist',userDetailsData,i)">
            <i class="fas fa-print" style="color:red"></i></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="tableShow" id="printlist" [style.visibility]="printStyle" style="display:none">
  <div class="invoice-box">
    <table cellpadding="15" cellspacing="10" style="width:100%">
      <tr class="top">
        <td class="title">
          <img src="assets/images/download.png" style="width:60%; max-width:200px;">
        </td>
        <td style="text-align: right">
          <br> {{branchAddress}}
          <br> {{branchArea}},
          <br> {{branchLocation}},
          <br>Phone: {{branchContact}}
        </td>
        <div class="clear"></div>
      </tr>
      <tr>
        <table style="width:100%;border:1px solid black" cellpadding="10" cellspacing="10">
          <tr colspan=1>
            <th style="padding-left:200px;">TAX INVOICE</th>
          </tr>
          <tr>
            <td>To:<br>
              {{userName}}<br>

              {{userEmail}} <br>

              {{userPhone}}<br>

              {{userAddress}}

              <div class="vertical">

              </div>
            <td style="text-align: right">
              Invoice No:{{invoiceNo}} <br>

              Date: {{invoiceDate | date: 'dd/MM/yyyy'}} <br>

              Vehicle No: {{vehicleNo}}<br>

              JobCard NO: {{jobCardNo}}
            </td>
            <div class="clear"></div>
          </tr>
        </table>
      </tr>
    </table>
    <br>

    <table cellpadding="10" cellspacing="10" style="width:100%;border:1px solid black">
      <thead>
        <tr style="border:1px solid black">
          <th>S.No</th>
          <th style="padding-right:20px">Particular</th>
          <th>Qty</th>
          <th>Rate Per Unit</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of servicesData;let i = index">
          <td style="padding-left:25px">{{i+1}}</td>
          <td style="padding-left:90px">{{data.service_name}}</td>
          <td style="padding-left:25px">{{1}}</td>
          <td style="padding-left:80px" *ngIf="vehicleSize == 's'">{{data.service_price_small}}</td>
          <td style="padding-left:80px" *ngIf="vehicleSize == 'm'">{{data.service_price_medium}}</td>
          <td style="padding-left:80px" *ngIf="vehicleSize == 'l'">{{data.service_price_large}}</td>
          <td style="padding-left:80px" *ngIf="vehicleSize == 'xl'">{{data.service_price_xl}}</td>

          <td style="padding-left:30px" *ngIf="vehicleSize == 's'">{{data.service_price_small}}</td>
          <td style="padding-left:30px" *ngIf="vehicleSize == 'm'">{{data.service_price_medium}}</td>
          <td style="padding-left:30px" *ngIf="vehicleSize == 'l'">{{data.service_price_large}}</td>
          <td style="padding-left:30px" *ngIf="vehicleSize == 'xl'">{{data.service_price_xl}}</td>
        </tr>

        <tr *ngIf="percentageAmt > '0'">
          <td></td>
          <td></td>
          <td></td>
          <td style="padding-left:80px">Discount @{{percentageVal}}</td>
          <td style="padding-left:30px">{{percentageAmt}}</td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td style="padding-left:80px">Total</td>
          <td style="padding-left:30px">{{invoiceTotal}}</td>
        </tr>

        <tr>
          <td></td>
          <td style="padding-left:80px">GST @18%</td>
          <td></td>
          <td></td>
          <td style="padding-left:30px">{{serviceTax}}</td>
        </tr>
        <tr>
          <td></td>
          <td style="padding-left:80px">GRAND TOTAL</td>
          <td></td>
          <td></td>
          <td style="padding-left:30px">{{totalWithTax}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <span>Note:All Disputes and Claims will be Settled Within the Jurisdiction of Hyderabad only.</span> &nbsp;
    <br><br>
   
    <hr>
    <table cellpadding="10" cellspacing="10" style="width:100%">
      <tr class="top" style="width:100%">
        <td class="title" style="width:40%;">
          Receiver's Signature
        </td>
        <td style="width:30%;"></td>

        <td style="width:30%;">
          For AMIGO AUTOSPA
        </td>
      </tr>
      <tr class="top" style="width:100%">
        <td class="title" style="width:40%;">

        </td>
        <td style="width:30%;"></td>

        <td style="width:30%;">
          Authorised Signatory
        </td>
      </tr>
    </table>
  </div>

</div>