<div class="col-md-2 col-sm-2 col-xs-12 manager-tap-left">
  <div class="nav flex-column nav-pills rs-1-left-button" id="__manager" role="tablist" aria-orientation="vertical">
    <a class="nav-link add-employee" id="v-pills-home-tab" (click)="redirectToNewEmployee()" data-toggle="pill" href="#vehicleDetail"
      role="tab" aria-controls="vehicle" aria-selected="true">Employee</a>
    <a class="nav-link price-list" id="v-pills-home-tab" (click)="redirectToInvList()" data-toggle="pill" href="#inventoryList"
      role="tab" aria-controls="invlist" aria-selected="true">Price List</a>
    <a class="nav-link category" id="v-pills-home-tab" (click)="redirectToIndent()" data-toggle="pill" href="#indentRaise"
      role="tab" aria-controls="raise" aria-selected="true">Category</a>
    <a class="nav-link sub-category" id="v-pills-home-tab" (click)="redirectToInList()" data-toggle="pill" href="#indentList"
      role="tab" aria-controls="indlist" aria-selected="true">Sub Category</a>
    <a class="nav-link services" id="v-pills-home-tab" (click)="redirectToInvAss()" data-toggle="pill" href="#inventoryAssaign"
      role="tab" aria-controls="invassn" aria-selected="true">Services</a>
    <a class="nav-link packages" id="v-pills-home-tab" (click)="redirectToInvAck()" data-toggle="pill" href="#acknowledgement"
      role="tab" aria-controls="invack" aria-selected="true">Packages</a>
  </div>
</div>