<div class="col-md-2 col-sm-2 col-xs-12 manager-tap-left" >
  <div class="nav flex-column nav-pills rs-1-left-button" id="__setup" role="tablist" aria-orientation="vertical">
    <a class="nav-link vehicle-detail" id="v-pills-home-tab" (click)="redirectToBranch()" data-toggle="pill" href="#vehicleDetail"
      role="tab" aria-controls="vehicle" aria-selected="true">Branch</a>
    <a class="nav-link vehicle-detail" id="v-pills-home-tab" (click)="redirectToVehicle()" data-toggle="pill" href="#vehicleDetail"
      role="tab" aria-controls="vehicle" aria-selected="true">Vehicle</a>
    <a class="nav-link vehicle-detail" id="v-pills-home-tab" (click)=" redirectToPriceList()" data-toggle="pill" href="#vehicleDetail"
      role="tab" aria-controls="vehicle" aria-selected="true">Price List</a>
  </div>
</div>