<div class="tablestyle" [style.visibility]="setupStyle">
  <div class="col-md-2 col-sm-2 col-xs-12 manager-tap-left">
    <div class="nav flex-column nav-pills rs-1-left-button" id="__setup" role="tablist" aria-orientation="vertical">
      <a class="nav-link vehicle-detail" id="v-pills-home-tab" (click)="redirectToBranch()" data-toggle="pill" href="#branches"
        role="tab" aria-controls="vehicle" aria-selected="true">Branch</a>
      <a class="nav-link vehicle-detail" id="v-pills-home-tab" (click)="redirectToVehicleColor()" data-toggle="pill"
        href="#Vehicle-Colors" role="tab" aria-controls="vehicle" aria-selected="true">Vehicle Color</a>
      <a class="nav-link vehicle-detail" id="v-pills-home-tab" (click)="redirectToVehicleModel()" data-toggle="pill"
        href="#Vehicle-Model" role="tab" aria-controls="vehicle" aria-selected="true">Vehicle Model</a>
      <a class="nav-link vehicle-detail" id="v-pills-home-tab" (click)="redirectToVehicleMake()" data-toggle="pill"
        href="#Vehicle-Make" role="tab" aria-controls="vehicle" aria-selected="true">Vehicle Make</a>
      <a class="nav-link vehicle-detail" id="v-pills-home-tab" (click)=" redirectToPriceList()" data-toggle="pill" href="#Price-Lists"
        role="tab" aria-controls="vehicle" aria-selected="true">Price List</a>
    </div>
  </div>
</div>