<header></header>
<simple-notifications [options]="options"></simple-notifications>
<div class="tab-content" id="myTabContent">
  <div id="sales" role="tabpanel" aria-labelledby="sales-tab">
    <div class="sales-tab">
      <div class="sales-tab1">
        <div class="col-md-12 col-sm-12 sales-tab-left">
          <div class="stl-title">
            <h2>Auto SPA
              <span>
                <span id="demonew"></span>&nbsp;&nbsp;
                <strong>
                  <span id="demo"></span>
                </strong>
              </span>
            </h2>
          </div>
          <br>
          <div class="row">
            <div class="container">
              <div class="col-sm-3">
              </div>
              <div class="col-sm-3">
                <input type="radio" name="optradio" (click)="newUserClick()" checked>
                <label style="font-size:16px">New</label>
              </div>
              <div class="col-sm-3">
                <input type="radio" name="optradio" (click)="existingUserClick()">
                <label style="font-size:16px">Existing</label>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-success" value="View Sale" style="padding-bottom: 2px;" (click)="redirectToSalesList()">View
                  Sale</button>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>

<div *ngIf="existingInfo">
  <div class="personal-info">
    <div class="container">
      <h3></h3>
      <div class="row form-group">
        <label class="col-sm-4 col-form-label required">Enter Phone No./EmailId
          <span style="color:red">*</span>
        </label>
        <div class="col-sm-5">
          <!-- <input type="text" name="exDetail" maxlength="50" class="form-control" (ngModelChange)="searchUser()" [(ngModel)]="existingDetail"> -->
          <input type="text" placeholder="Enter Engine Number" name="Engine" maxlength="50" [(ngModel)]="selectedValue"
            [(ngModel)]="existingDetail" (ngModelChange)='userSearch($event)' [typeahead]="userInfo"
            typeaheadOptionField="email_id" (typeaheadOnSelect)="onSelect($event)" class="form-control">
        </div>
        <div style="color:red" *ngIf="noResult">No Results Found</div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="newUser">
  <div class="personal-info">
    <div class="container">
      <div class="col-sm-12">
        <h3>Personal Information</h3>
      </div>
      <form [formGroup]="salesForm">
        <div class="col-sm-6">
          <div class="row form-group">
            <label class="col-sm-4 col-form-label required">Name of the Customer
              <span style="color:red">*</span>
            </label>
            <div class="col-sm-5">
              <input type="text" formControlName="Name" class="form-control" placeholder="Enter First Name" [(ngModel)]="firstName"
                [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">
              <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                <div *ngIf="f.Name.errors.required" style="color:red">Customer Name is required</div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 col-form-label required">Email Id
              <span style="color:red">*</span>
            </label>
            <div class="col-sm-5">
              <input type="text" formControlName="Email" class="form-control" placeholder="Enter Email id" [(ngModel)]="emailId"
                [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
              <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                <div *ngIf="f.Email.errors.required" style="color:red">Email is required</div>
                <div *ngIf="f.Email.errors.email" style="color:red">Email must be a valid email address</div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 col-form-label required">Mobile
              <span style="color:red">*</span>
            </label>
            <div class="col-sm-5">
              <input type="number" formControlName="phone" class="form-control" placeholder="Enter Mobile Number"
                [(ngModel)]="mobileNo" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
              <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required" style="color:red">Phone Number is required</div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 col-form-label required">Profession
              <span style="color:red">*</span>
            </label>
            <div class="col-sm-5">
              <input type="text" formControlName="Profession" class="form-control" placeholder="Enter profession"
                [(ngModel)]="profession" [ngClass]="{ 'is-invalid': submitted && f.Profession.errors }">
              <div *ngIf="submitted && f.Profession.errors" class="invalid-feedback">
                <div *ngIf="f.Profession.errors.required" style="color:red">Profession is required</div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 col-form-label required">Address
              <span style="color:red">*</span>
            </label>
            <div class="col-sm-5">
              <textarea class="form-control" formControlName="Address" placeholder="Enter Address" maxlength="1000"
                rows="2" style="padding-left:1.6em" [(ngModel)]="address" [ngClass]="{ 'is-invalid': submitted && f.Address.errors }"></textarea>
              <div *ngIf="submitted && f.Address.errors" class="invalid-feedback">
                <div *ngIf="f.Address.errors.required" style="color:red">Address is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row form-group">
            <label class="col-sm-4 col-form-label required">Source Of Customer
              <span style="color:red">*</span>
            </label>
            <div class="col-sm-5">
              <select formControlName="Source" class="form-control" [(ngModel)]="sourceCustomer" [ngClass]="{ 'is-invalid': submitted && f.Source.errors }">
                <option value="undefined" disabled selected>Select</option>
                <option value="0">Walk-in</option>
                <option value="1">Referral</option>
                <option value="2">Family Friend</option>
              </select>
              <div *ngIf="submitted && f.Source.errors" class="invalid-feedback">
                <div *ngIf="f.Source.errors.required" style="color:red">Source Of Customer is required</div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 col-form-label required">Service Type
              <span style="color:red">*</span>
            </label>
            <div class="col-sm-5">
              <select formControlName="Service" class="form-control" [(ngModel)]="serviceType" [ngClass]="{ 'is-invalid': submitted && f.Service.errors }">
                <option value="undefined" disabled select>Select</option>
                <option value="0">Door Step</option>
                <option value="1">Store</option>
              </select>
              <div *ngIf="submitted && f.Service.errors" class="invalid-feedback">
                <div *ngIf="f.Service.errors.required" style="color:red">Service type is required</div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-4 col-form-label required">Business Type
              <span style="color:red">*</span>
            </label>
            <div class="col-sm-5">
              <select formControlName="Business" class="form-control" [(ngModel)]="businessType" [ngClass]="{ 'is-invalid': submitted && f.Business.errors }">
                <option value="undefined" disabled select>Select</option>
                <option value="0">B2B</option>
                <option value="1">B2C</option>
              </select>
              <div *ngIf="submitted && f.Business.errors" class="invalid-feedback">
                <div *ngIf="f.Business.errors.required" style="color:red">Business type is required</div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="vehicle-information">
  <div class="container">
    <div class="col-sm-6">
      <div *ngIf="vehInfo">
        <div class="sales-tab">
          <div class="sales-tab1">
            <div class="col-md-12 col-sm-12 sales-tab-left">
              <br>
              <div class="row">
                <div class="container">
                  <h3>Vehicle Information</h3>
                  <div class="col-sm-1">
                    <input type="radio" name="optradio1" [checked]="selectedVechile == '0' "  (click)="carUserClick('1')">
                    <label style="font-size:16px">Car</label>
                  </div>
                  <div class="col-sm-1">
                    <input type="radio" name="optradio1" [checked]="selectedVechile == '1'"  (click)="bikeUserClick('2')">
                    <label style="font-size:16px">Bike</label>
                  </div>
                  <div class="col-sm-2">
                    <input type="radio" name="optradio1" [checked]="selectedVechile == '2' "  (click)="commercialUserClick('3')">
                    <label style="font-size:16px">Commercial</label>
                  </div>

                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="veh-information">
          <form [formGroup]="vehicleForm">
            <div *ngIf="carUser || bikeUser || commercialUser">
              <div class="container">
                <div class="col-sm-6">
                  <div class="row form-group">
                    <label class="col-sm-4 col-form-label required">Vehicle Number
                      <span style="color:red">*</span>
                    </label>
                    <div class="col-sm-5">
                      <input type="text" formControlName="Number" maxlength="50" class="form-control" placeholder="Enter Vehicle No."
                        [(ngModel)]="selectedVechileNo" [ngClass]="{ 'is-invalid': submitted && v.Number.errors }">
                      <div *ngIf="submitted && v.Number.errors" class="invalid-feedback">
                        <div *ngIf="v.Number.errors.required" style="color:red">Vehicle Number is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="row form-group">
                    <label class="col-sm-4 col-form-label required">Vehicle Make
                      <span style="color:red">*</span>
                    </label>
                    <div class="col-sm-5">
                      <select formControlName="Make" class="form-control" [(ngModel)]="selectedVechileMake" [ngClass]="{ 'is-invalid': submitted && v.Make.errors }">
                        <option value="undefined" disabled select>Select Make</option>
                        <option *ngFor="let make of vehicleMake" [ngValue]="make.vehicle_make_id">{{make.make_name}}</option>
                      </select>
                      <div *ngIf="submitted && v.Make.errors" class="invalid-feedback">
                        <div *ngIf="v.Make.errors.required" style="color:red">Vehicle Make is required</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="carUser || commercialUser">
              <div class="container">
                <div class="col-sm-6">
                  <div class="row form-group">
                    <label class="col-sm-4 col-form-label required">Vehicle Size
                      <span style="color:red">*</span>
                    </label>
                    <div class="col-sm-5">
                      <select class="form-control" name="size" [(ngModel)]="selectedVechileSize" (ngModelChange)="totalServicePrice()"
                        [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}">
                        <option value="undefined" disabled select>Select Size</option>
                        <option value="s">Small</option>
                        <option value="m">Medium</option>
                        <option value="l">Large</option>
                        <option value="xl">Extra Large</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="carUser || bikeUser">
              <div class="container">
                <div class="col-sm-6">
                  <div class="row form-group">
                    <label class="col-sm-4 col-form-label required">Vehicle Type
                      <span style="color:red">*</span>
                    </label>
                    <div class="col-sm-5">
                      <select class="form-control" name="make" [(ngModel)]="selectedVechileType" [(ngModel)]="showMoreControls"
                        [ngModelOptions]="{standalone: true}">
                        <option value="undefined" disabled select>Select Type</option>
                        <option *ngFor="let type of vehicleType" [ngValue]="type.vehicle_type_id">{{type.type_name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="row form-group">
                    <label class="col-sm-4 col-form-label required">Vehicle Age
                      <span style="color:red">*</span>
                    </label>
                    <div class="col-sm-5">
                      <select class="form-control" name="age" [(ngModel)]="selectedVechileAge" [(ngModel)]="showMoreControls"
                        [ngModelOptions]="{standalone: true}">
                        <option value="undefined" disabled select>Select Age</option>
                        <option *ngFor="let data of vehicleAge" [ngValue]="data.vehicle_age_id">{{data.age_name}}</option>
                      </select>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="service-info">
        <div *ngIf="vehservice">
          <div class="row">
            <h3>Services</h3>
            <div class="row form-group">
              <div class="col-sm-1"></div>
              <label class="col-sm-3 col-form-label required">Services List
                <span style="color:red">*</span>
              </label>
              <div class="col-sm-8">
                <p-multiSelect [options]="vehicleServices" [(ngModel)]="selectedServices" [displaySelectedLabel]=false
                  (ngModelChange)="onChangeServices(selectedServices);totalServicePrice()" [panelStyle]="{minWidth:'12em'}"
                  [style]="{'width':'50%'}" defaultLabel="Choose Services"></p-multiSelect>
              </div>
            </div>
          </div>
        </div>
        <table style="width:100%">
          <tr>
            <th>Service Name </th>
            <th *ngIf="selectedVechileSize ">Price </th>
            <th>Delete</th>
          </tr>
          <tr *ngFor="let item of selectedServices ; let i=index">
            <td>{{item.service_name}}</td>
            <td *ngIf="selectedVechileSize == 's'">{{item.service_price_small}}</td>
            <td *ngIf="selectedVechileSize == 'm'">{{item.service_price_medium}}</td>
            <td *ngIf="selectedVechileSize == 'l'">{{item.service_price_large}}</td>
            <td *ngIf="selectedVechileSize == 'xl'">{{item.service_price_xl}}</td>
            <td href="#" data-toggle="modal" data-target="#deleteServiceConformation" (click)="deleteService(i); ">
              <i class="fa fa-trash"></i>
            </td>
          </tr>
        </table>

        <br><br>
        <div class="row form-group">
          <label class="col-sm-4 col-form-label required">Total
            <span style="color:red">*</span>
          </label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="price" [(ngModel)]="total" readonly>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row form-group">
  <div claas="container">
    <button type="submit" class="btn btn-success" (click)="addUserInfoAndVehicle()" style="float: right;
    margin-right: 12%;">Submit</button>
    <button type="submit" class="btn btn-warning" (click)="resetCompleteUserVechileInfo()" style="float: right;
      margin-right: 1%;">Reset</button>
  </div>
</div>

<div class="modal fade" id="deleteServiceConformation" tabindex="-1" data-backdrop="static" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="myModalLabel">Are you sure you want to delete this service?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="yesDeleteService()">Yes</button>
      </div>
    </div>
  </div>
</div>

<footer></footer>